body{background-color: deepskyblue;}
div class "conteneur"

h1{
font-style: oblique;
color:coral;
}
h1{color: firebrick;}

div{stroke-width: }

ul{grid-row: ;}



img{
    width: 150px;
    height: 150px;
}